[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "==0.115.6"
uvicorn = "==0.34.0"
websockets = "==14.1"
httptools = ">=0.6.4"
nepse = {git = "https://github.com/surajrimal07/NepseUnofficialApi.git", ref = "master"}
uvloop = {version = ">=0.21.0", platform_system = "!= 'Windows'"}

[requires]
python_version = "3.11"