[[source]]
name = "NepseApi"
url = ""
verify_ssl = true

[dev-packages]

[packages]
pywasm = ">=1.0.8"
httpx = {version = ">=0.27.2", extras = ["http2"]}
tqdm = ">=4.66.5"
fastapi = ">=0.115.5"
uvicorn = ">=0.32.1"
pyzmq = ">=26.2.0"
nepse = {git = "https://github.com/basic-bgnr/NepseUnofficialApi.git", ref = "master"}

[requires]
python_version = "3.10"  # Adjust this to match your project's Python version
